* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --brancotransparente: #fff 50%;
    --azul: #250848;

}

.container,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1, main {
    font-family: "Kotta One", serif;
}

h2 {
    font-family: "Kosugi", sans-serif;
}